extends ../layout

block content
  div(class="container-fluid")
  div(class="container " style="text-align:center")
    h1 Application Submitted
    p Thank you for applying as a volunteer for Warrior Hope!  We will contact you in the next 72 hours to determine your eligibility for the position.  Please click on the home button to return to the home page.
