extends ../layout

block content
  div(class="container-fluid")
    div(class="container")
      div(class="input-container text-center p-3 mb-3")
        h1 Success!
        div(class="yellow-separation")
        div(class="form-row")
          div(class="form-group col-lg-12 p-3")
            span You have been placed into Group #{subgroup}.  Click on the home button to return to the home page.
