<!DOCTYPE html>
<html>

<head>
  <title>Change Password</title>
</head>

<body>
  <div class="input-container">
    <h1>Update Password</h1>
    <form id="changePassword" method="post" action="changePassword" onsubmit="passwMatch(this)">
      <div class="container">
        <div class="form-box">
          <label for="password"><b>New Password</b></label>
          <input type="password" name="password" pattern="^[^&<>;*\s]{8,50}$" required class="inputbox" >
          <label for="passwconfirm"><b>Confirm New Password</b></label>
          <input type="password" name="passwconfirm" pattern="^[^&<>;*\s]{8,50}$" required class="inputbox" ><br><br>
        </div>
      </div>
    <button type="submit" class="buttonbox3">Submit</button>
    </form>
  
    
  <script>
    function passwMatch(passw) {
      pass = passw.password.value;
      passConfirm = passw.passwconfirm.value;
      if (pass != passConfirm) {
        alert("Passwords do not match. Please re-enter password.");
        return false;
      } else {
        return true;
      }
    }
  </script>
</body>

</html>
