<!DOCTYPE html>
<html>
<head>
	<style>
		p{
	        text-align: center;
			color: white;
			font-size: medium;
			font-family: "Helvetica Neue", Arial;
			text-transform: none;
			text-shadow:  none;
		 }
		 form{
		    text-align: center;
		 }
		 .settingsbtn{
		    background-color: #ffbf00;
		    color: #4000ff;
		    font-weight: bold;
		    border-color: black;
		    border-radius: 16px;
		    box-shadow: 1px 1.5px;
			height: 70px;
			width: 100%;
		  }
		</style>
 <title>Home</title> 	
</head>
<body>	
	<div><p> Please take the assessment to be placed in a group</p></div>
	<form method="post" name="landing">
	<button type="submit" name="action" value="Assessment" class="landingBtn">Assessment</button>
	<br>
	</form>
<br>
</body>
</html>