extends ../layout

block content
  div(class="container-fluid")
    div(class="container" style="text-align:center; margin-top: 25px;")
      if msg
        p #{msg}
      else
        include reset_password.html