extends ../layout

block landing 
  div(style="position: relative;")
    img(src="images/hope.jpg" class="img-fluid w-100" style="max-height: 500px; object-fit: cover;" alt="Responsive image")

    div(class="yellow-separation" style="margin-bottom: 20px;")

block content
  div(class="container-fluid")
    div(class="container " style="text-align:center")
      div(class="input-container p-3")
        div(class="form-box" style="text-align: center;")
          form(method="post" name="landing")
            div(class="form-row")
              div(class="form-group col-lg-12")
                h1 Welcome, #{username}
            if(inGroup)
              div(class="form-row")
                div(class="form-group col-lg-12")
                  button(type="submit" name="action" value="Groups" class="btn btn-primary btn-block") My Groups
            else
              div(class="form-row")
                div(class="form-group col-lg-12")
                  p Please take the assessment to be placed in a group.
              div(class="form-row")
                div(class="form-group col-lg-12")
                  button(type="submit" name="action" value="Assessment" class="btn btn-primary btn-block") Assessment