extends ../layout

block content
  div(class="container-fluid")
    div(class="container")
      div(class="input-container p-1 mt-3 mb-3 text-center")
        h1(class="p-3")
          i(class="fas fa-user-cog" style="font-size: 3em; color: var(--yellow);")
        h1(class="m-0") Account Settings
      div
        form(method="post" name="userAccount")
          div(class="input-container p-1 mt-3 mb-3")
            h3(class="h3-yellow top-bottom-margins-small text-center") General Settings
            div(class="yellow-separation-90")
            div(class="top-bottom-margins text-center")
              p(class="text-center ml-3 mr-3") Here you may control various settings related to the use of your account.
            div(class="top-bottom-margins text-center")
              input(type="submit" name="action" value="Change My Email" class="btn btn-primary-90")
            div(class="top-bottom-margins text-center")
              input(type="submit" name="action" value="Change My Password" class="btn btn-primary-90")
          div(class="input-container p-1 mt-3 mb-3")
            h3(class="h3-yellow top-bottom-margins-small text-center") Assessment Settings
            div(class="yellow-separation-90")
            div(class="top-bottom-margins text-center")
              p(class="text-center ml-3 mr-3") If for any reason you are not satisified with your group placement and/or your mental health status has changed, you may retake the assessment.
            div(class="top-bottom-margins text-center")
              input(input type="submit" name="action" value="Retake Assessment" class="btn btn-primary-90")
          div(class="input-container p-1 mt-3 mb-3")
            h3(class="h3-yellow top-bottom-margins-small text-center" style="color:var(--danger); text-shadow: 3px 3px 3px var(--black);") Delete Account
            div(class="yellow-separation-90" style="background-color: var(--danger);")
            div(class="top-bottom-margins text-center")
              p(class="text-center ml-3 mr-3") If for any reason you are not satisified with your experience with Warrior Hope, you may delete your account and all data associated with it.
            div(class="top-bottom-margins text-center")
              input(type="submit" name="action" value="Delete" class="btn btn-danger-90")
