<!DOCTYPE html>
<html>
	<head>
	   <style>
		h1{
	            text-align: center;
		 }
	         .usericon{
		    display: block;
		    margin-left: auto;
		    margin-right: auto;
		    width: 75px;
			margin-bottom: 25px;
		 }
		 form{
		    text-align: center;
		 }
		 .settingsbtn{
		    background-color: #ffbf00;
		    color: #4000ff;
		    font-weight: bold;
		    border-color: black;
		    border-radius: 16px;
		    box-shadow: 1px 1.5px;
			height: 70px;
			width: 100%;
		  }
		</style>
	</head>

	<body>
		<div class="p-3">
			<h1>Account Settings</h1>
			<img src="images/settings.png" alt="user icon" class="usericon">
			<form method="post" name="userAccount">
				<div class="top-bottom-margins-small"><input type="submit" name="action" value="Change My Email" class="btn btn-primary-full"></div>
				<div class="top-bottom-margins-small"><input type="submit" name="action" value="Change My Password" class="btn btn-primary-full"></div>
				
				<div class="top-bottom-margins-small"><input type="submit" name="action" value="My Post History" class="btn btn-primary-full"></div>
				<div class="top-bottom-margins-small"><p><b>If for any reason you are not satisified with your group placement and/or your mental
				health status has changed, you may retake the assessment.</b></p></div>
				<div class="top-bottom-margins-small"><input type="submit" name="action" value="Retake Assessment" class="btn btn-primary-full"></div>
				<div class="top-bottom-margins-small"><p><b>If for any reason you are not satisified with your experience with Warrior Hope, you may delete your account and all data associated with it.</b></p></div>
				<div class="top-bottom-margins-small"><input type="submit" name="action" value="Delete" class="btn btn-primary-full"></div>
			</form>
		</div>
	</body>
</html>

