extends ../layout

block content
  div(class="container-fluid")
    div(class="container")
      table(class="table table-light table-hover table-striped")
        thead 
          tr(class="bg-primary") 
            th(scope="col") NAME
            th(scope="col") NUMBER
            th(scope="col") INFO
        tbody 
          tr
            td National Suicide Prevention Hotline
            td 1-800-273-8255 text 838255
            td 24/7 Crisis Line, Press 1 for Veterans
          tr 
            td Substance Abuse and Mental Health
            td 1-800-662-4357
            td 24/7, 365 Confidential and Free Information and Referral Service
          tr
            td Drug and Alcohol Abuse
            td 1-800-622-2255
            td 24/7 Guidance for Drug and Alcohol Dependence
          tr 
            td Crisis Text Line
            td text 741741
            td 24/7 Text Chat with Trained Volunteers
          tr 
            td National Domestic Violence Hotline
            td 800-799-7233
            td 24/7, 365 Confidential and Free Support, Information and Referral Service
          tr 
            td National Sexual Assault Hotline
            td 800-656-4673
            td 24/7 Hotline with Trained Staff
          tr 
            td National Call Center for Homeless Veterans
            td 1-877-424-3838
            td 24/7 Hotline with Trained VA Counselors